@import "../node_modules/ng2-slim-loading-bar/style.css";

html {
  height: 100%;
}

body {
  background-color: black;
  height: 100%;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.container{
  max-width: 100%;
  padding: 0;
}

.input-form {
  width: 80%;
  margin: 0 auto;
}

.edit-svg {
  background: url(assets/edit.svg) no-repeat center;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 1em;
    width: 1em;
}

.delete-svg {
  background: url(assets/delete.svg) no-repeat center;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 1em;
    width: 1em;
}

.filter {
  width: 100%;
}

.edit-button {
  margin-bottom: 0em;
  margin-right: 0.5em;
}

@media only screen and (max-width: 710px) {
  body {
    font-size: 0.8rem;
  }
  .edit-button {
    margin-bottom: 0.5em;
    margin-right: 0;
  }
  .filter {
    width: 50%;
  }
  .input-form {
    width: 100%;
  }
}

@media only screen and (min-width: 711px) and (max-width: 992px) {
  .actions {
    min-width: 30%;
  }
  .filter {
    width: 40%;
  }
}
