@import "../node_modules/ng2-slim-loading-bar/style.css";

html {
  height: 100%;
}

body {
  background-color: black;
  height: 100%;
}

.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.container{
  max-width: 100%;
}

.input-form {
  width: 80%;
  margin: 0 auto;
}

.edit-svg {
  background: url(assets/edit.svg) no-repeat center;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 1em;
    width: 1.5em;
}

.delete-svg {
  background: url(assets/delete.svg) no-repeat center;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 1em;
    width: 1.5em;
}

.filter {
  width: 100%;
}

.edit-button {
  margin-bottom: 0em;
  margin-right: 0.5em;
}


@media only screen and (max-width: 710px) {
  .edit-button {
    margin-bottom: 0.5em;
    margin-right: 0;
  }
  .filter {
    width: 50%;
  }
  .input-form {
    width: 100%;
  }
}

@media only screen and (min-width: 711px) and (max-width: 992px) {
  .actions {
    min-width: 30%;
  }
  .filter {
    width: 40%;
  }
}
