<app-loading-spinner *ngIf="!mediaList"></app-loading-spinner>

<table class="table table-hover table-dark">
  <thead>
    <tr class="text-center">
      <th class="column-3">Name</th>
      <th class="column-1">Format</th>
      <th>Ort</th>
      <th class="text-center column-1"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!mediaList?.data[0]" class="text-center">
      <td colspan="4">Hier steht nichts</td>
    </tr>
    <tr *ngFor="let media of mediaList?.data" class="media-table-row">
      <!-- guard against undefined error -->
      <td>{{ media.media_name }}</td>
      <td>{{ media.media_format }}</td>
      <td>{{ media.media_location }}</td>
      <td class="py-2 text-center actions">
        <button type="button" [routerLink]="['/media/edit', media._id]" class="btn btn-info edit-button">
          <span class="edit-svg"></span>
        </button>
        <button type="button" [routerLink]="" (click)="startDeleteMedia(media._id)"
          class="btn btn-danger delete-button">
          <span class="delete-svg"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-delete-confirmation *ngIf="confirmationBox" (delete)="deleteMedia(mediaId)"
  (cancel)="confirmationBox = !confirmationBox"></app-delete-confirmation>
